body {
    background-color: #ADD8E6; /* Light blue background color */
    margin-top: 50px;
    font-family: 'Lato';
}

h1 {
    text-align: center; /* Center the text horizontally */
    margin-top: 50px;   /* Add margin at the top for spacing */
}


.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}


/* Add the bounce animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

#bounce {
    animation: bounce 2s infinite; /* Bounce animation for 2 seconds infinitely */
    cursor: pointer; /* Change cursor to a pointer to indicate interactivity */
}

/* Your existing CSS styles go here */

#quote-container {
  list-style-type: none;
  padding: 0;
  text-align: center; /* Center the quotes horizontally */
}

#quote-container li {
  display: none; /* Hide all quotes initially */
  font-size: 20px;
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 1em #ccc;
  animation: quoteAnimation 10s linear infinite; /* Change the quote every 10 seconds */
}

@keyframes quoteAnimation {
  0%, 20%, 40%, 60%, 80%, 100% {
    display: none; /* Hide all quotes during animation */
  }
  5%, 25%, 45%, 65%, 85% {
    display: block; /* Show quotes during animation */
  }
}


